<!DOCTYPE html>
<html>
  <head>
    <title>Listagem de Pedidos</title>
    <% include ../head %>
  </head>
  <body class="container">
    <h2 class="basic-title text-center">Pedidos Feitos</h2>
    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Endereço</th>
            <th>Pedido Realizado em:</th>
            <th>Status:</th>
          </tr>
        </thead>
        <tbody>
          <% pedidos.forEach((pedido) => { %>
          <tr>
            <td>
              <a href="/pedidos/info/<%=pedido.id%>"><%= pedido.cliente %></a>
            </td>
            <td><%= pedido.endereco %></td>
            <td><%= pedido.createdAt %></td>
            <td><%= pedido.status %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <a id="botaoNovo" href="/pedidos/novo">Cadastrar Pedido</a>
  </body>

  <script>
    setTimeout(function() {
      location.reload();
    }, 120000);
  </script>
</html>
