<!DOCTYPE html>
<html>

<head>
    <title>Fazer Pedido</title>
    <% include ../head %>

    <a href="/feed" id="backButton"> ↩ Voltar</a>
</head>

<body>
    <% if(locals.status){ %>
    <p class="alert alert-info"><%=status%></p>
    <%}%>
        <div>
            <div class ="container min-container">
                <% if(!posts.id) { %>
    <h2 class="basic-title">Fazer Pedido</h2>
    <%} else { %>
    <h2 class="basic-title">Alterar pedido</h2>
    <% } %>

    <% if(!posts.id) { %>
    <form action="/feed" method="post" class="well" role="form">
        <%} else { %>
        <form action="/feed/<%=feed.id%>?_method=PUT" method="post" class="well" role="form">
            <% } %>
            <div class="form-group">
                <label for="titulo">Titulo</label>
                <div class="input-group">
                    <input type="text" name="titulo" placeholder="Título" value="<%=posts.titulo%>" size="80" />
                </div>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <div class="input-group">
                    <input type="text" name="descricao" placeholder="..." value="<%=posts.descricao%>" size="80" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Postar</button>
        </form>
        <div class="errors">
            <%if(locals.erros){%>
            <ul style="list-style-type: none; padding: 0px;">
                <% erros.forEach((erro) => {%>
                <li class="alert alert-danger" style="padding: 0.5em;"><%= erro.msg %></li>
                <%})}%>
            </ul>
        </div>

        </div>
        </div>
</body>

</html>